* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.log-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.log-item {
  flex-basis: calc((100% - 16px) / 2);
  position: relative;
  padding: 4px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  font-size: 16px;
  font-family: monospace;
}

.input {
  margin-top: 33px;
  margin-bottom: 15px;
  height: 35px;
}
button {
  display: inline-flex;
  padding: 8px 12px;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
}
.numbers {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.numbers button {
  flex-basis: calc((100% - (10px * 2)) / 3);
  justify-content: center;
}

.operations {
  margin-top: 33px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.operations button {
  justify-content: center;
  flex-basis: calc((100% - (10px * 2)) / 3);
}
.display {
  border-radius: 0%;
  margin: 33px auto;
  width: 90%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #584040;
}
